<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Homepage</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background: #76b852; 
        }
        .btn{
            background: #4CAF50;
        }
        h1{
            color: rgb(85, 112, 30);
            
        }
        h3{
            color: red;
        }
        .div{
            margin: 100px;
        }
    </style>
</head>
<body >



<!-- Main Content -->
<div class="container mt-5 text-center pt-5">
    <div class="jumbotron div  ">
        <h1 class=" display-4">Welcome to Dashboard</h1>
        <h3 > <%= message %></h3>

        <a class="btn mt-lg-5 text-white btn-sm" href="/logout"" role="button">Logout</a>
    </div>
</div>


<!-- Include Bootstrap JS (jQuery and Popper.js are required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>







